@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: Roboto;
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
    .container {
      margin: 0 auto;
      padding: 0 70px;
    
    }
    .container header {
     margin-top: 20px;
     display: flex;
     flex-direction: column;
     row-gap: 58px;
    }
    .logo {
      width: 64px;
      height: 38px;
      object-fit: contain;
      margin-top: 22px;
    }
    header .menu {
        display: flex;
        align-items: center;
        column-gap: 25px;
    }
    
    header .menu a {
      font-size: 12px;
      line-height: 14px;
      width: 75.29px;
      height: 18.53px;
      font-style: normal;
      font-weight: normal;
    }
    header .menu a img {
      width: 12px;
      height: 12px;
    }
    .hero {
      display: flex;
      flex-direction: column;
      row-gap: 68px;
      margin-top: 7.53px;
    }
    .hero .top-content {
      display: flex;
      align-items: flex-start;
    }
    .hero .top-content .hero-text {
      width: 100%;
    }
    .hero .top-content .hero-text h1 {
      line-height: 47px;
      font-family: "Roboto Slab";
      padding-top: 8px;

      width: 363.72px;
      height: 110.04px;
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: bold;
      font-size: 46px;
      margin-bottom: 4px;
      
    }
    .hero .top-content .hero-text p {
        width: 264px;
        height: 36px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
    }
    .hero .hero-image {
      position: relative;
      
      
    }
    .hero .hero-image img:first-child {
        position: absolute;
        left: -430px;
        width: 176.07px;
        height: 206.18px;}

    .hero .hero-image img:last-child {
      z-index: -1;
      position: absolute;
      left: -410px;
      bottom: -217px;
      width: 158.69px;
      height: 23.75px;
    }
    .hero .bottom-content {
      display: flex;

      
    }
    .hero .bottom-content div {
      width: 280.11px;
      height: 115.83px;
      background-color: #1e4681;
      color: #fff;
      border-radius: 3px;
      margin-top: 39.17px;
      margin-left: 154px;
    }
    .hero .bottom-content div p:first-child {
      font-family: "Roboto Slab";
      width: 250.38px;
     height: 65.45px;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 130%;
     padding-top: 11px;
     padding-left: 15px;
     margin-bottom: 10.6px;

    }
    .hero .bottom-content div p:last-child {
        width: 162.46px;
        height: 26.43px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 130%;
        text-align: right;
        padding-top: 11px;
        margin-left: 108px;
    }
  }