@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: Roboto;
}
.left-marg {
  margin-left: 35px;
}
@media screen and (min-width: 320px) and (max-width: 991px) {
  .container {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .Program-course {
    display: flex;
    flex-direction: column;
    gap: 24.16px;
    margin-bottom: 47.16px;
  }
  .Program-course h1 {
    font-size: 26px;
    font-weight: bold;
    line-height: 26px;
    font-family: Roboto Slab;
  }
  .Program-course div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 185.92px;
    height: 152.84px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 10px 0 rgba(0.5, 0.5, 0.5, 20%);
  }
  .Program-course img {
    width: 185.92px;
    height: 74.56px;
  }
  .Program-course .text {
    padding: 0.13px 9px 7.84px;
    border-radius: 0 0 15px 15px;
  }
  .Program-course h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    margin-top: 5.13px;
    margin-bottom: 0px;
  }
  .Program-course div p {
    font-size: 12px;
    line-height: 130%;
    width: 120px;
    height: 32px;
    margin: 15.15px 0 0 0;
  }
  .Program-course div .last-tag {
    margin: 0.47px 0 0 0;
  }
  .statistics {
    width: 100%;
    background-color: #efefef;
    margin: 0;
    padding: 42px 32px 53px 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .statistics h1 {
    font-size: 26px;
    line-height: 26.36px;
    font-weight: bold;
    font-family: Roboto Slab;
    width: 292px;
    margin-bottom: 28px;
  }
  .statistics .text{
    width: 308px;
    height: 248px;
    font-size: 10px;
    line-height: 150%;
    background-color: white;
    padding: 18px 25px 13px 21px;
    box-shadow: 0 0 10px 0 rgba(0.5, 0.5, 0.5, 20%);
    border-radius: 15px;
  }
  .statistics .bottom-part{
    display: flex;
    margin-top: 14px;
  }
  .statistics .bottom-part img{
    width: 80px;
    height: 84px;
  }
  .statistics .bottom-part h3{
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    font-family: Roboto Slab;
    margin-top: 18px;
    margin-bottom: 20px;
  }
  .statistics .bottom-part div{
    margin-left: 14px;
  }
  .statistics .bottom-part .fb-icon{
    width: 14.91px;
    height: 17.2px;
    background-color: #4E70B7;
    border-radius: 3px;
  }
}
