@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: Roboto Slab;
}
@media screen and (min-width: 320px) and (max-width: 991px) {
  .container {
    width: 100%;
    margin-left: 35px;
    margin-top: 36px;

    align-items: center;
  }
  .first-section .main {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .first-section .main h1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    margin: 55px 0 21px 0px;
  }
  .first-section .main-text {
    width: 309px;
    height: 217px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 12px;
  }
  .first-section .right-img {
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 160.29px;
  }
  .first-section .img1 {
    width: 170.55px;
    height: 160.29px;
  }
  .first-section .bottom-text {
    width: 395px;
  }
  .first-section .img-desktopmod {
    margin: 0;
    width: 0;
    height: 0;
  }
  .first-section .desk-image {
    display: none;
  }
  .first-section .ellipse3 {
    display: none;
  }
  .first-section .bottom-text ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: 0;
    gap: 0px;
    width: 240px;
  }
  .first-section .bottom-text ul li {
    list-style: none;
    margin-right: 33.33px;
  }
  .first-section .bottom-text ul li h3 {
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
  }
  .first-section .bottom-text ul li p {
    font-size: 10px;
    line-height: 13px;
    width: 86px;
    height: 28px;
  }
  /* Sec Format Starts */

  .sec-format .main-head h1,
  .sec3 .main-head h1 {
    height: 43.335418701171875px;
    width: 310.8034973144531px;
    font-family: Roboto Slab;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16.66px;
  }
  .sec-format .list {
    width: 180px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .sec-format .list li {
    margin-bottom: 10px;
  }

  .sec-format .list li .head {
    height: 18.172916412353516px;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    color: #1e4681;
  }
  .sec-format .list li .text {
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
  }
  .sec3{
    margin-top: 73px;
    margin-bottom: 80px;
  }
  .list-div{
    display: flex;
    width: 280px;
    margin-left: 20px;

  }
  .sec3 .list-sec3 {
    margin: 0;
    padding: 0;
  }
  .sec3 .list-sec3 .text{
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
}
