@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: Roboto;
}
.container {
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.menu span{
  color: #000;
}
@media screen and (min-width: 1279px) {
  .container {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 120px;
  }
  .container header {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    align-items: flex-start !important;
  }
  .logo {
    width: 112px;
    height: 66px;
    object-fit: contain;
  }
  header .menu {
    display: flex;
    align-items: center;
    column-gap: 25px;
  }
  header .menu a {
    font-size: 20px;
    line-height: 23px;
    color: #000;
  }
  header .menu a img {
    width: 22px;
    height: 22px;
  }
  .hero {
    display: flex;
    flex-direction: column;
    row-gap: 68px;
    margin-top: 4px;
  }
  .hero .top-content {
    display: flex;
    align-items: flex-start;
  }
  .hero .top-content .hero-text h1 {
    font-size: 80px;
    line-height: 81.11px;
    font-family: "Roboto Slab";
    max-width: 628px;
    padding-top: 25px;
  }
  .hero .top-content .hero-text p {
    font-size: 20px;
    line-height: 150%;
    padding-top: 26px;
    max-width: 414px;
  }
  .hero .hero-image {
    position: relative;
    margin-left: 140px;
  }
  .hero .hero-image img:last-child {
    z-index: -1;
    position: absolute;
    left: 35px;
    bottom: -12px;
  }
  .hero .bottom-content {
    display: flex;
    justify-content: center;
  }
  .hero .bottom-content div {
    max-width: 483px;
    background-color: #1e4681;
    color: #fff;
    padding: 20px 26px;
    border-radius: 5px;
  }
  .hero .bottom-content div p:first-child {
    font-family: "Roboto Slab";
    font-size: 25px;
    line-height: 32px;
  }
  .hero .bottom-content div p:last-child {
    font-size: 20px;
    line-height: 26px;
    text-align: right;
    padding-top: 12px;
  }
  .about {
    margin-top: 173.36px;
    display: flex;
    flex-direction: column;
  }
  .about .top-content {
    display: flex;
    flex-direction: column;
    column-gap: 190px;
  }
  .about .top-content .about-content {
    display: flex;
    width: 100%;
    margin-top: 51px;
    align-items: center;
    column-gap: 190px;
  }
  .about .top-content h1 {
    font-size: 55px;
    line-height: 101.38%;
    font-family: "Roboto Slab";
    font-weight: 700;
  }
  .about .top-content .about-content p {
    max-width: 662px;
    font-size: 24px;
    line-height: 36px;
  }
  .about .about-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .about .about-image img:last-child {
    position: absolute;
    bottom: -25px;
    z-index: -1;
  }
  .about .bottom-content {
    display: flex;
    margin-top: 94px;
    position: relative;
    column-gap: 132px;
  }
  .about .bottom-image img:last-child {
    position: absolute;
    left: 24px;
    bottom: -15px;
    z-index: -1;
  }
  .about .bottom-content .bottom-text {
    display: flex;
    align-items: center;
    column-gap: 95px;
  }
  .about .bottom-content .bottom-text span {
    font-size: 25px;
    line-height: 130%;
    font-weight: 700;
  }
  .about .bottom-content .bottom-text p {
    font-size: 18px;
    line-height: 130%;
    max-width: 150px;
    padding-top: 15px;
  }
  .format {
    margin-top: 178px;
    display: flex;
    flex-direction: column;
    row-gap: 131px;
  }
  .format h1 {
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
  }
  .format .format-content {
    display: flex;
    column-gap: 122px;
  }
  .format .format-content span {
    color: #1e4681;
    font-size: 25px;
    line-height: 32px;
    font-weight: bold;
  }
  .format .format-content p {
    padding-top: 15px;
    font-size: 18px;
    line-height: 23px;
    max-width: 263px;
  }
  .whatweknow {
    margin-top: 219px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }
  .whatweknow h1 {
    font-size: 55px;
    line-height: 55.61px;
    font-weight: bold;
    font-family: "Roboto Slab";
  }
  .whatweknow ul {
    max-width: 662px;
    padding-left: 20px;
  }
  .whatweknow ul li {
    list-style: outside;
    font-size: 24px;
    line-height: 36px;
  }
  .course {
    display: flex;
    flex-direction: column;
    row-gap: 136px;
    position: relative;
    margin: 232px auto 0;
    padding: 0 210px;
    max-width: 1600px;
  }
  .course h1 {
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    font-family: "Roboto Slab";
    margin-left: 37px;
  }
  .course .boxes-direction {
    display: flex;
    flex-wrap: wrap;
    column-gap: 37px;
    row-gap: 41px;
    width: 105%;
  }
  .course .boxes {
    box-shadow: 0 0 10px 0 rgb(1 1 1 / 20%);
    border-radius: 30px;
    width: 22.1vw;
  }
  .course .boxes div {
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 23px;
    display: flex;
    flex-direction: column;
  }
  .course .boxes  img{
    width: 22.1vw;
    height: 9vw;
  }
  .course .boxes span {
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    max-width: 365px;
    display: block;
    padding-bottom: 32px;
  }
  .course .boxes p {
    font-size: 25px;
    line-height: 130%;
    max-width: 240px;
  }
  .course .last-box {
    box-shadow: 0 0 10px 0 rgb(1 1 1 / 20%);
    border-radius: 30px;
    width: 23vw;
  }
  .course .last-box div {
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 23px;
    display: flex;
    flex-direction: column;
  }
  .course .last-box  img{
    width: 23.1vw;
    height: 9.4vw;
  }
  .course .last-box span {
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    max-width: 365px;
    display: block;
    padding-bottom: 10px;
  }
  .course .last-box p {
    line-height: 130%;
    font-size: 25px;
    max-width: 240px;
  }
  .static {
    background-color: #efefef;
    margin: 0 auto;
    padding-top: 91px;
    padding-left: 122px;
    padding-bottom: 111px;
    margin-top: 121px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }
  .static h1 {
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-bottom: 67px;
  }
  .static .static-content {
    background-color: #fff;
    padding: 40px 45px 29px;
    max-width: 791px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgb(1 1 1 / 20%);
    display: flex;
    flex-direction: column;
    row-gap: 37px;
  }
  .static .static-content p {
    font-size: 20px;
    line-height: 150%;
    max-width: 700px;
  }
  .static .bottom {
    display: flex;
    column-gap: 30px;
    align-items: center;
  }
  .static .bottom div {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
  }
  .static .bottom div h1 {
    font-size: 30px;
    line-height: 101.38%;
    font-family: "Roboto Slab";
    margin: 0;
  }
  .static .bottom div img {
    width: 32px;
    height: 31px;
  }
  .start {
    background-color: #9dc9c8;
    margin: 0 auto;
    padding-top: 179px;
    padding-left: 122px;
    padding-bottom: 185px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }
  .start h1 {
    font-family: "Roboto Slab";
    font-size: 55px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 54px;
  }
  .start div {
    margin-bottom: 82px;
  }
  .start div p {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }
  .start div span {
    font-size: 80px;
    font-weight: 400;
    line-height: 81px;
    letter-spacing: 0em;
    text-align: left;
  }
  .start ul {
    display: flex;
    column-gap: 70px;
  }
  .start ul li span {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
    display: block;
  }
  .start ul li p {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 294px;
  }
  footer {
    background-color: #000;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 122px;
    padding-bottom: 23px;
    display: flex;
    flex-direction: column;
    row-gap: 147px;
    position: relative;
    max-width: 100%;
  }
  footer .left-footer {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  footer .left-footer img {
    width: 115px;
    height: 68px;
  }
  footer .left-footer ul {
    display: flex;
    column-gap: 18px;
  }
  footer .left-footer ul li a img {
    width: 33px;
    height: 33px;
  }
  footer .right-footer {
    display: flex;
    row-gap: 25px;
    color: #fff;
    position: absolute;
    right: 146px;
    top: 50px;
  }
  footer .right-footer ul {
    display: flex;
    row-gap: 25px;
    flex-direction: column;
  }
  footer .right-footer ul li {
    display: flex;
    column-gap: 22px;
  }
  footer .right-footer ul li img {
    width: 27px;
    height: 27px;
  }
  footer .bottom-footer {
    color: #fff;
  }
}
@media screen and (min-width: 991px) and (max-width: 1279px) {
  /* ----------------Nurlan------------------- */

  .container {
    margin: 0 auto;
    padding: 0 9.333vw;
    max-width: 170.667vw;
  }
  .container header {
    margin-top: 2.667vw;
    display: flex;
    flex-direction: column;
    row-gap: 7.733vw;
  }
  .logo {
    width: 8.533vw;
    height: 5.067vw;
    object-fit: contain;
    margin-top: 2.933vw;
  }
  header .menu {
    display: flex;
    align-items: center;
    column-gap: 3.333vw;
  }

  header .menu a {
    font-size: 1.6vw;
    line-height: 1.867vw;
    width: 10.039vw;
    height: 2.471vw;
    font-style: normal;
    font-weight: normal;
  }
  header .menu a img {
    width: 1.6vw;
    height: 1.6vw;
  }
  .hero {
    display: flex;
    flex-direction: column;
    row-gap: 9.067vw;
    margin-top: 1.004vw;
  }
  .hero .top-content {
    display: flex;
    align-items: flex-start;
  }

  .hero .top-content .hero-text h1 {
    line-height: 6.267vw;
    font-family: "Roboto Slab";
    padding-top: 1.067vw;

    width: 48.496vw;
    height: 14.672vw;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 6.133vw;
    margin-bottom: 0.533vw;
  }
  .hero .top-content .hero-text p {
    width: 35.2vw;
    height: 4.8vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw;
    line-height: 2.4vw;
  }
  .hero .hero-image {
    position: relative;
  }
  .hero .hero-image img:first-child {
    position: absolute;
    left: 9.333vw;
    width: 23.476vw;
    height: 27.491vw;
  }

  .hero .hero-image img:last-child {
    z-index: -1;
    position: absolute;
    left: 12vw;
    bottom: -28.933vw;
    width: 21.159vw;
    height: 3.167vw;
  }
  .hero .bottom-content {
    display: flex;
  }
  .hero .bottom-content div {
    width: 37.348vw;
    height: 15.444vw;
    background-color: #1e4681;
    color: #fff;
    border-radius: 0.4vw;
    margin-top: 5.223vw;
    margin-left: 20.533vw;
  }
  .hero .bottom-content div p:first-child {
    font-family: "Roboto Slab";
    width: 33.384vw;
    height: 8.727vw;
    font-style: normal;
    font-weight: normal;
    font-size: 1.867vw;
    line-height: 130%;
    padding-top: 1.467vw;
    padding-left: 2vw;
    margin-bottom: 1.413vw;
  }
  .hero .bottom-content div p:last-child {
    width: 21.661vw;
    height: 3.524vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw;
    line-height: 130%;
    text-align: right;
    padding-top: 1.467vw;
    margin-left: 14.4vw;
  }
  /* ----------------------------------------------- */
  .about {
    margin-top: 13.388vw;
    display: flex;
    flex-direction: column;
  }
  .about .top-content {
    display: flex;
    flex-direction: column;
    column-gap: 15.333vw;
  }
  .about .top-content .about-content {
    display: flex;
    width: 100%;
    margin-top: 3.333vw;
    align-items: center;
    column-gap: 15.333vw;
  }
  .about .top-content h1 {
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 4.267vw;
    line-height: 101.38%;
    /* or 4.267vw */
    color: #000000;
  }
  .about .top-content .about-content p {
    max-width: 51.121vw;
    font-size: 1.867vw;
    line-height: 150%;
    /* or 2.8vw */
    color: #000000;
  }
  .about .about-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .about .about-image img:first-child {
    display: block;
    width: 24.248vw;
  }

  .about .about-image img:last-child {
    position: absolute;
    bottom: -2vw;
    z-index: -1;
    width: 28.264vw;
  }
  .about .bottom-content {
    display: flex;
    margin-top: 6.667vw;
    position: relative;
    column-gap: 10.193vw;
  }
  .about .bottom-image img:first-child {
    width: 17.916vw;
  }
  .about .bottom-image img:last-child {
    position: absolute;
    left: 2.667vw;
    bottom: -0.8vw;
    z-index: -1;
    width: 14.595vw;
    height: 3.271vw;
  }
  .about .bottom-content .bottom-text {
    display: flex;
    align-items: center;
    column-gap: 7.364vw;
  }
  .about .bottom-content .bottom-text span {
    font-weight: 700;
    font-size: 2vw;
    line-height: 130%;
    /* or 2.533vw */
  }
  .about .bottom-content .bottom-text p {
    padding-top: 1.333vw;
    max-width: 14.4vw;
    font-size: 1.467vw;
    line-height: 130%;
    /* or 1.867vw */
  }
  .format {
    margin-top: 12.511vw;
    display: flex;
    flex-direction: column;
    row-gap: 6.873vw;
  }
  .format h1 {
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 7.333vw;
    line-height: 101.38%;
    font-size: 4.267vw;
    line-height: 101.38%;
  }
  .format .format-content {
    display: flex;
    column-gap: 6.783vw;
  }
  .format .format-content span {
    color: #1e4681;
    font-weight: bold;
    font-size: 2vw;
    line-height: 130%;
  }
  .format .format-content p {
    padding-top: 1.733vw;
    max-width: 21.187vw;
    font-size: 1.467vw;
    line-height: 130%;
  }
  .whatweknow {
    margin-top: 19.2vw;
    display: flex;
    flex-direction: column;
    row-gap: 6.667vw;
    margin-bottom: 19.067vw;
  }
  .whatweknow h1 {
    font-weight: bold;
    font-family: "Roboto Slab";
    font-size: 4.267vw;
    line-height: 101.38%;
  }
  .whatweknow ul {
    max-width: 51.121vw;
    padding-left: 2.667vw;
  }
  .whatweknow ul li {
    list-style: outside;
    font-size: 1.867vw;
    line-height: 150%;
  }

  /* --------------------Rashad----------------------------- */
  .course {
    display: flex;
    flex-direction: column;
    row-gap: 10.267vw;
    position: relative;
    margin: 0 auto;
    padding: 0 4.667vw;
    max-width: 165.867vw;
  }
  .course h1 {
    font-weight: bold;
    font-size: 4.267vw;
    line-height: 101.38%;
    font-family: "Roboto Slab";
    margin-left: 2.667vw;
  }
  .course .boxes-direction {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.8vw;
    row-gap: 3.067vw;
    width: 105%;
  }
  .course .boxes {
    box-shadow: 0 0 1.333vw 0 rgb(1 1 1 / 20%);
    border-radius: 2.667vw;
  }
  .course .boxes img {
    width: 27.2vw;
    height: 11.356vw;
  }
  .course .boxes div {
    padding-left: 1.467vw;
    padding-top: 0.849vw;
    padding-bottom: 1.776vw;
    display: flex;
    flex-direction: column;
  }
  .course .boxes span {
    font-size: 2.267vw;
    font-weight: 700;
    line-height: 2.947vw;
    max-width: 28.187vw;
    display: block;
    padding-bottom: 3.013vw;
  }
  .course .boxes p {
    font-size: 1.867vw;
    line-height: 130%;
    max-width: 21.333vw;
  }
  .course .last-box {
    box-shadow: 0 0 1.333vw 0 rgb(1 1 1 / 20%);
    border-radius: 2.667vw;
  }
  .course .last-box img {
    width: 27.2vw;
    height: 11.356vw;
  }
  .course .last-box div {
    padding-left: 1.467vw;
    padding-top: 0.849vw;
    padding-bottom: 1.776vw;
    display: flex;
    flex-direction: column;
  }
  .course .last-box span {
    font-size: 2.167vw;
    font-weight: 700;
    line-height: 2.947vw;
    max-width: 25.187vw;
    display: block;
    padding-bottom: 0.88vw;
  }
  .course .last-box p {
    font-size: 1.867vw;
    line-height: 130%;
    max-width: 21.333vw;
  }
  .static {
    background-color: #efefef;
    margin: 0 auto;
    padding-top: 7.027vw;
    padding-left: 9.413vw;
    padding-bottom: 8.572vw;
    margin-top: 7.013vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 170.667vw;
  }
  .static h1 {
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 4.267vw;
    line-height: 101.38%;
    margin-bottom: 6vw;
  }
  .static .static-content {
    background-color: #fff;
    padding: 3.067vw 3.467vw 2.24vw;
    max-width: 61.333vw;
    border-radius: 2vw;
    box-shadow: 0 0 1.333vw 0 rgb(1 1 1 / 20%);
    display: flex;
    flex-direction: column;
    row-gap: 2.533vw;
  }
  .static .static-content p {
    font-size: 1.6vw;
    line-height: 150%;
    max-width: 54vw;
  }
  .static .bottom {
    display: flex;
    column-gap: 2.267vw;
    align-items: center;
  }
  .static .bottom img {
    width: 14.672vw;
    height: 13.051vw;
  }
  .static .bottom div {
    display: flex;
    flex-direction: column;
    row-gap: 2.267vw;
  }
  .static .bottom div h1 {
    font-size: 2.267vw;
    line-height: 101.38%;
    font-family: "Roboto Slab";
    margin: 0;
  }
  .static .bottom div img {
    width: 2.471vw;
    height: 2.393vw;
  }
  

  /* ---------------------------------------------------------------------- */

   /* ---------------------------------- ilkin --------*/

   .start {
    background-color:  #9DC9C8;

    height: 60.233vw;
    padding-top: 13.733vw;
    padding-left: 9.421vw;
    padding-bottom: 14.267vw;
    padding-right: 31.6vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 213.333vw;
  }
  .start h1 {
    font-family: "Roboto Slab";
    font-size: 4.267vw;
    font-weight: 700;
    width: 70.117vw;
    height: 5.097vw;
    line-height: 4.267vw;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 4.133vw;
  }
  .start div {
    margin-bottom: 10.933vw;
  }
  .start div p {
    font-size: 1.867vw;
    line-height: 3.333vw;
    width: 13.128vw;
    height: 2.471vw;
    letter-spacing: 0em;
    text-align: left;
  }
  .start div span {
    letter-spacing: 0em;
    text-align: left;
    width: 37.144vw;
    height: 13.977vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 6.133vw;
    line-height: 101.38%;
  }
  .start ul {
    display: flex;
    column-gap: 9.333vw;
  }
  .start ul li span {
    font-size: 1.867vw;
    width: 22.704vw;
    height: 2.471vw;
    padding-bottom: 0.667vw;
    line-height: 101.38%;

    letter-spacing: 0em;
    text-align: left;
    display: block;
  }
  .start ul li p {
    font-size: 1.333vw;
    width: 22.704vw;
    height: 5.405vw;
    font-weight: normal;
    line-height: 101.38%;
    letter-spacing: 0em;
    text-align: left;
    max-width: 39.2vw;
  }
  footer {
    background-color: #000;
    height: 30.117vw;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 213.333vw;
  }
  footer .left-footer {
    display: flex;
    padding-top: 3.867vw;
    padding-left: 9.421vw;
    flex-direction: column;
  }
  footer .left-footer img {
    width: 8.88vw;
    height: 5.251vw;
  }
  footer .left-footer ul {
    display: flex;
  }
  footer .left-footer ul li a img {
    width: 2.533vw;
    height: 2.533vw;
    row-gap: 3.333vw;
    margin-right: 2.667vw;
    margin-top: 4vw;
  }
  footer .right-footer {
    display: flex;
    color: #fff;
    position: absolute;
    right: 14.267vw;
    top: 4.533vw;
  }
  footer .right-footer ul {
    display: flex;
    row-gap: 1.733vw;
    flex-direction: column;
  }
  footer .right-footer ul li {
    display: flex;
    column-gap: 1.733vw;
    font-size: 1.867vw;
  }
  footer .right-footer ul li img {
    width: 2vw;
    height: 2vw;
  }
  footer .bottom-footer {
    width: 30.667vw;
    height: 5.333vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.333vw;
    line-height: 101.38%;
    color: #fff;
  padding-left: 9.421vw;
  padding-top: 11.333vw;

  }
}



@media screen and (max-width: 991px) {
  /* ----------------Nurlan------------------- */
  .container {
    padding: 0 4.8vw;
    max-width: 83.333vw;
  }
  .container header {
    row-gap: 5.867vw;
    margin-top: 4.8vw;
  }
  .logo {
    width: 9.933vw;
    height: 6vw;
    margin-bottom: 6vw;
  }
  header .menu a {
    width: 8.077vw;
    height: 1.988vw;
    font-style: normal;
    font-weight: normal;
    font-size: 1.333vw;
    line-height: 1.6vw;
    margin-right: 1.553vw;
    margin-bottom: 1.075vw;
    color: black;
  }
  header .menu a img {
    width: 2.333vw;
    height: 2.333vw;
    margin-right: 0.533vw;
  }
  header .menu span{
    font-size: 2.333vw;
  }
  header .menu {
    display: flex;
  }
  .hero .top-content {
    display: flex;
    align-items: flex-start;
  }
  .hero .top-content .hero-text{
    width: 100%;
  }
  .hero .top-content .hero-text h1 {
    width: 43.017vw;
    height: 11.804vw;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 5.933vw;
    line-height: 101.38%;
    margin-bottom: 1.296vw;
    margin-top: 1.075vw;
  }
  .hero .top-content .hero-text p {
    width: 60.32vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.6vw;
    margin-bottom: 28.495vw;
  }
  .hero .hero-image {
    position: relative;
  }
  .hero .hero-image img:first-child {
    position: absolute;
    top: 15.333vw;
    left: -17.333vw;
    width: 18.891vw;
    height: 23.347vw;
  }

  .hero .hero-image img:last-child {
    z-index: -1;
    position: absolute;
    left: -14.667vw;
    top: 36.667vw;
    width: 17.024vw;
    height: 2.547vw;
  }
  .hero .bottom-content {
    display: flex;
  }
  .hero .bottom-content div {
    width: 46.048vw;
    height: 17.425vw;
    background: #1e4681;
    border-radius: 0.311vw;
    color: #fff;
  }
  .hero .bottom-content div p:first-child {
    width: 43.752vw;
    height: 7.02vw;
    left: 6.681vw;
    top: 63.563vw;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 2.467vw;
    line-height: 130%;
    padding-top: 1.2vw;
    padding-left: 1.6vw;
    margin-bottom: 0.923vw;
  }
  .hero .bottom-content div p:last-child {
    width: 34.427vw;
    height: 2.836vw;
    left: 16.673vw;
    top: 71.505vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.333vw;
    line-height: 130%;
    text-align: right;
    padding-top: 4.467vw;
    margin-left: 10.8vw;
  }
  /* -------------------------------------- */
  /* ... */
  .about {
    margin-top: 10.008vw;
    display: flex;
    flex-direction: column;
  }
  .about .top-content {
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
  }
  .about .top-content .about-content {
    display: flex;
    width: 100%;
    margin-top: 2.667vw;
    flex-direction: column;
    /* align-items: center; */
    row-gap: 2vw;
  }
  .about .top-content h1 {
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 5.467vw;
    line-height: 101.38%;
  }
  .about .top-content .about-content p {
    max-width: 64.129vw;
    font-size: 2.6vw;
    line-height: 150%;
  }
  .about .about-image {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
  }
  .about .about-image img:first-child {
    display: block;
    width: 19.509vw;
  }

  .about .about-image img:last-child {
    position: absolute;
    display: block;
    bottom: -1.6vw;
    left: -15px;
    z-index: -1;
    width: 22.74vw;
  }
  .about .bottom-content {
    display: flex;
    margin-top: 6.095vw;
    position: relative;
  }
  .about .bottom-image {
    display: none;
  }
  .about .bottom-content .bottom-text {
    display: flex;
    align-items: center;
    column-gap: 4.444vw;
    width: 41.733vw;
    flex-wrap: wrap;
    row-gap: 1.333vw;
  }
  .about .bottom-content .bottom-text span {
    font-weight: 700;
    font-size: 2.6vw;
    line-height: 130%;
  }
  .about .bottom-content .bottom-text p {
    padding-top: 1.333vw;
    max-width: 16.585vw;
    font-size: 2vw;
    line-height: 130%;
  }
  .format {
    margin-top: 10.133vw;
    display: flex;
    flex-direction: column;
    row-gap: 2.267vw;
  }
  .format h1 {
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 5.467vw;
    line-height: 101.38%;
  }
  .format .format-content {
    display: flex;
    flex-direction: column;
    row-gap: 1.867vw;
  }
  .format .format-content span {
    color: #1e4681;
    font-weight: bold;
    font-size: 2.6vw;
    line-height: 130%;
  }
  .format .format-content p {
    padding-top: 1.333vw;
    max-width: 40vw;
    font-size: 2.333vw;
    line-height: 130%;
  }
  .whatweknow {
    margin-top: 9.733vw;
    display: flex;
    flex-direction: column;
    row-gap: 2.667vw;
    margin-bottom: 11.333vw;
  }
  .whatweknow h1 {
    font-weight: bold;
    font-family: "Roboto Slab";
    font-size: 5.467vw;
    line-height: 101.38%;
  }
  .whatweknow ul {
    max-width: 61.867vw;
    padding-left: 2.667vw;
  }
  .whatweknow ul li {
    list-style: outside;
    font-size: 2.6vw;
    line-height: 150%;
  }
  /* ------------------Rashad------------------ */
  .course {
    margin-top: 11.333vw !important;
    display: flex;
    flex-direction: column;
    row-gap: 7.6vw;
    position: relative;
    margin: 0 auto;
    padding: 0 4.8vw;
    max-width: 82vw;
  }
  .course h1 {
    font-weight: bold;
    font-size: 5.467vw;
    line-height: 101.38%;
    font-family: "Roboto Slab";
  }
  .course .boxes-direction {
    display: flex;
    flex-direction: column;
    row-gap: 3.221vw;
    width: 36.789vw;
    margin-left: 19.133vw;
  }
  .course .boxes {
    box-shadow: 0 0 1.333vw 0 rgb(1 1 1 / 20%);
    border-radius: 3vw;
  }
  .course .boxes img {
    width: 36.789vw;
    height: 14.941vw;
  }
  .course .boxes div {
    padding-left: 1.243vw;
    padding-top: 0.684vw;
    padding-bottom: 1.045vw;
    display: flex;
    flex-direction: column;
  }
  .course .boxes span {
    font-size: 2.867vw;
    font-weight: 700;
    max-width: 32.677vw;
    display: block;
    padding-bottom: 1vw;
  }
  .course .boxes p {
    font-size: 2.6vw;
    max-width: 21.933vw;
  }
  .course .last-box {
    box-shadow: 0 0 1.333vw 0 rgb(1 1 1 / 20%);
    border-radius: 3vw;
  }
  .course .last-box img {
    width: 36.789vw;
    height: 14.941vw;
  }
  .course .last-box div {
    padding-left: 1.243vw;
    padding-top: 0.684vw;
    padding-bottom: 1.045vw;
    display: flex;
    flex-direction: column;
  }
  .course .last-box span {
    font-size: 2.867vw;
    font-weight: 700;
    max-width: 33.677vw;
    display: block;
    padding-bottom: 0.503vw;
  }
  .course .last-box p {
    line-height: 130%;
    font-size: 2.6vw;
    max-width: 27.067vw;
  }
  .static {
    background-color: #efefef;
    margin: 0 auto;
    padding-top: 5.6vw;
    padding-left: 4.8vw;
    padding-bottom: 7.067vw;
    margin-top: 6.288vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 132vw;
  }
  .static h1 {
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 5.467vw;
    line-height: 101.38%;
    margin-bottom: 3.733vw;
    max-width: 50.867vw;
  }
  .static .static-content {
    background-color: #fff;
    padding: 2.4vw 3.333vw 1.733vw;
    max-width: 68.067vw;
    border-radius: 2vw;
    box-shadow: 0 0 1.333vw 0 rgb(1 1 1 / 20%);
    display: flex;
    flex-direction: column;
    row-gap: 1.867vw;
  }
  .static .static-content p {
    font-size: 2.333vw;
    line-height: 150%;
    max-width: 60.933vw;
  }
  .static .bottom {
    display: flex;
    column-gap: 1.867vw;
    align-items: center;
  }
  .static .bottom img {
    width: 14.667vw;
    height: 15.2vw;
  }
  .static .bottom div {
    display: flex;
    flex-direction: column;
    row-gap: 2.667vw;
  }
  .static .bottom div h1 {
    font-size: 2.867vw;
    line-height: 101.38%;
    font-family: "Roboto Slab";
    margin: 0;
  }
  .static .bottom div img {
    width: 2.988vw;
    height: 3.283vw;
  }
  .start {
    background-color: #9dc9c8;
    margin: 0 auto;
    padding-top: 8.267vw;
    padding-left: 7.6vw;
    padding-bottom: 8.461vw;
    padding-right: 1.333vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .start h1 {
    font-family: "Roboto Slab";
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 2.977vw;
    font-size: 5.467vw;
    line-height: 101.38%;
  }
  .start div {
    margin-bottom: 6.667vw;
  }
  .start div p {
    font-size: 2.6vw;
    line-height: 101.38%;
    letter-spacing: 0em;
    text-align: left;
  }
  .start div span {
    font-size: 5.933vw;
    line-height: 101.38%;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
  }
  .start ul {
    display: flex;
    column-gap: 4.155vw;
  }
  .start ul li span {
    font-size: 2.6vw;
    line-height: 101.38%;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 2vw;
    display: block;
  }
  .start ul li p {
    font-size: 2.333vw;
    line-height: 101.38%;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    max-width: 32.667vw;
  }
  footer {
    background-color: #000;
    margin: 0 auto;
    padding-top: 3.107vw;
    padding-left: 6.667vw;
    padding-bottom: 1.333vw;
    display: flex;
    flex-direction: column;
    row-gap: 6.727vw;
    position: relative;
    /* max-width: 213.333vw; */
  }
  footer > div {
    margin-bottom: 6.532vw;
  }
  footer .left-footer {
    display: flex;
    flex-direction: column;
    row-gap: 6.532vw;
  }
  footer .left-footer img {
    width: 9.145vw;
    height: 6.225vw;
  }
  footer .left-footer ul {
    display: flex;
    column-gap: 1.553vw;
  }
  footer .left-footer ul li a img {
    width: 3.051vw;
    height: 3.051vw;
  }
  footer .right-footer {
    display: flex;
    color: #fff;
    row-gap: 2vw;
    margin-top: 6.532vw;
  }
  footer .right-footer ul {
    display: flex;
    row-gap: 2vw;
    flex-direction: column;
  }
  footer .right-footer ul li {
    display: flex;
    column-gap: 1.367vw;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw;
    line-height: 101.38%;
  }
  footer .right-footer ul li img {
    width: 2.677vw;
    height: 2.677vw;
  }
  footer .bottom-footer {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 101.38%;
    /* or 1.333vw */

    color: #ffffff;
  }
}